@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: -1;
  opacity: 0.5;
}
.bgMiddle {
  z-index: -2;
  opacity: 0.75;
}
.bgBottom {
  z-index: -3;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
  background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
}
.waveAnimation .waveTop {
  animation: move_wave 10s linear infinite;
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
}
.waveAnimation .waveMiddle {
  animation: move_wave 15s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
}
.waveAnimation .waveBottom {
  animation: move_wave 20s linear infinite;
}
